@font-face {
  src: url("../fonts/static/JosefinSans-Regular.ttf");
  font-family: josefin;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/static/JosefinSans-Bold.ttf");
  font-family: josefin;
  font-weight: bold;
}
@font-face {
  src: url("../fonts/static/JosefinSans-Light.ttf");
  font-family: josefin;
  font-weight:300;
}