@import "../../assets/style/mixin.scss";


.P-skillsBox{
  margin-top: 160px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #e3e3e5;

  @include screen-max-width-767{
    flex-direction: column;

  }
  .P-skillsBox-left{
    width: 45%;
    background-color: #3c4649;
    @include screen-max-width-767{
      width: 88%;
      margin: 0 auto;

    }

    .P-skills-info{

      width: 290px;
      text-align: center;
      font-size: 18px;
      padding: 5px;
      background-color: #737b7d;
      margin-top: 280px;
      letter-spacing: 5px;
      word-spacing: 2px;
      @include screen-max-width-767{
        margin: 40px auto;

      }
      @include screen-max-width-576{
        width: 220px;

      }
    }
  }

  .P-skillsBox-right{
    width: 55%;
    background-color: #b8b8b8;
    @include screen-max-width-767{
      width: 88%;
      margin: 0 auto;
      

    }
    .P-skills-description {
      width: 80%;
      margin: 65px auto;
      font-size: 17px;
      letter-spacing: 2.5px;
      word-spacing: 2px;

.P-skill-item{
  border-bottom: 1.5px solid #e3e3e5;
  padding: 10px 5px;
  display: flex;
  align-items: center;

  .P-skill-icon {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32.5px;
  }
}
    }
  }
}